#main{
    width: 100%;
    height: 100%;
    display: flex;
}
#imagem-botoes{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4.5rem 3.6rem;
    gap: 3rem;
}

#img-produto{
    width: 35rem;
    height: 35rem;
    border-radius: 5% ;
    background-color: rgb(137, 85, 57);
}

#botoes{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    padding: 1rem;
}

.btn{
    width: 50%;
    padding: 0.3rem 0.01rem 0.01rem 0.02rem;
    color:rgb(137, 85, 57) ;
    text-align: center;
    background-color: #F5D1A6;
    border: 5px rgb(137, 85, 57) solid;
    border-radius: 5%;
    font-size: 3.2rem;
    text-wrap: nowrap;
    font-family: 'jomhuria';
}
#dados-produto{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 4.8rem 3.6rem;

}

